.flex-header{
  display: flex;
  background-color: rgb(52 61 70);
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  height: 35px;
  border: none;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.flex-mail-child{
  flex: 1;
  border: none;
  color: white;
  margin-left: 10px;
  width: 100px;
}

.flex-number-child{
  margin-right: 10px;
  border: none;
  color:white;
}

.main-bar{
  background-color: rgb(192 192 192);
  position: absolute;
  top: 35px;
  left: 0px;
  right: 0px;
  height: 75px;
  display: flex;
  flex-direction: row;
  padding-left: 35px;
  align-items: center;
  border-inline: 0px;
  border-top: 0px;
  border-style: groove;
  border-color: white;
  text-align: center;
}

.main-menu-button{
  position: absolute;
  top: 50%;
  margin-top: -24px;
  border: none;
  background-color: transparent;
}

.store-name{
  margin-left: 50px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.search-wrapper{
  height: 50px;
  margin-left: 100px;
  width: 450px;
  position: relative;
  display: inline-block;

}

.search-wrapper input {
  height: 100%;
  width: 100%;
  border-radius: 75px;
  outline: none;
  border: none;
  padding-left: 10px;
}

.search-wrapper button {
  position: absolute;
  border: none;
  background-color: transparent;
  margin-left: 400px;
  margin-top: 7px;
}

.checkout{
  margin-left: 150px;
  top: 50%;
}

.profile{
  margin-left: 150px;
}

.menu-button{
  border: none;
  background-color: transparent;
}

