{% extends 'main/layout.html' %}
{% load static %}
{% load goods_tags %}
{% block title %}Каталог{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/catalog.css' %}">
{% endblock %}

{% block content %}
  <!-- Форма фильтров -->

    <div class="dropdown mb-2">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

      <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Фильтры
      </button>
      <!-- Форма должна быть вложена в dropdown-menu -->
      <div class="dropdown-menu bg-dark p-3">
        <form action="{% url 'catalog:index' slug_url %}" method="get" data-bs-theme="dark">
            <div class="form-check text-white">
                <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on"
                {% if request.GET.on_sale == 'on' %}checked{% endif %}>
                {%comment%}<input type="hidden" name="q" value="{{ request.GET.q }}">{% endcomment%}
                <label class="form-check-label" for="flexCheckDefault">
                    Товары по акции
                </label>
            </div>
            <p class="text-white mt-3">Сортировать:</p>
            <div class="form-check text-white">
                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default"
                       {% if not request.GET.order_by or request.GET.order_by == 'default' %} checked {% endif %}>
                <label class="form-check-label" for="flexRadioDefault1">
                    По умолчанию
                </label>
            </div>
            <div class="form-check text-white">
                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price"
                {% if request.GET.order_by == 'price' %}checked{% endif %}>
                <label class="form-check-label" for="flexRadioDefault2">
                    От дешевых к дорогим
                </label>
            </div>
            <div class="form-check text-white">
                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price"
                {% if request.GET.order_by == '-price' %}checked{% endif %}>
                <label class="form-check-label" for="flexRadioDefault3">
                    От дорогих к дешевым
                </label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Применить</button>
        </form>
      </div>
  </div>


<div class="container">
    <h1>Каталог товаров</h1>
    <div class="catalog" id="product-list">
        {% for product in products %}
            <div class="card">
                <div class="card-image-wrapper">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% endif %}
                </div>
                {% if product.videos %}
                    <div class="card-videos-wrapper">
                        {% for video in product.videos.all %}
                            <div class="card-video-wrapper">
                                <video controls class="product-video">
                                    <source src="{{ video.file.url }}" type="video/mp4">
                                    Ваш браузер не поддерживает видео.
                                </video>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="product-name">{{ product.name }}</div>
                <div class="product-price">{{ product.price }} $</div>
                <a href="{% url 'catalog:product_detail' product.slug %}" class="card-button">Подробнее</a>
                <a href="{% url 'product_detail' product.id %}" class="card-button">Подробнее</a>
                <button class="add-to-cart-button">
                    <a href="{% url 'add' product_id=product.id %}"></a>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M440-600v-120H320v-80h120v-120h80v120h120v80H520v120h-80ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/></svg>
                </button>
            </div>
        {% endfor %}
    </div>
   <link rel="stylesheet" href="{% static 'catalog/css/loading.css' %}">


    <div id="loader" style="display: none;">Loading...</div>
<script>
     baseUrl = "{% change_params  %}";
</script>
    <script src="{% static 'catalog/js/paginator.js' %}"></script>


</div>

{% endblock %}


