{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Каталог{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/catalog.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Каталог товаров</h1>
    <div class="catalog">
        {% for product in products %}
            <div class="card">
                <div class="card-image-wrapper">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% endif %}
                </div>
                {% if product.videos %}
                    <div class="card-videos-wrapper">
                        {% for video in product.videos.all %}
                            <div class="card-video-wrapper">
                                <video controls class="product-video">
                                    <source src="{{ video.file.url }}" type="video/mp4">
                                    Ваш браузер не поддерживает видео.
                                </video>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="product-name">{{ product.name }}</div>
                <div class="product-price">{{ product.price }} $</div>
                <a href="{% url 'product_detail' product.id %}" class="card-button">Подробнее</a>
                <button class="add-to-cart-button">
                    <a href="{% url 'add' product_id=product.id %}"></a>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M440-600v-120H320v-80h120v-120h80v120h120v80H520v120h-80ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/></svg>
                </button>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
