:root {
  interpolate-size: allow-keywords;

  --default-font-family: Parkinsans;
  --search-size: 50px; 
}

main{
  margin-left: 150px;
}

* {
  margin: 0;
  padding: 0;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  /* background: url('../img/mainpage/ironman.jpg');background-size: cover; */
}

p {
  color: black;
  font-size: 35px;
  cursor: default;
}

.button, .slash-button, .arrow-button, .search-bar, .search-bar__submit.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: #d4d4d4; 
  transition: background-color 200ms ease-in-out; 
  overflow: hidden; 
  width: 50px;
  height: 50px;
  border-radius: 100vh;
}

.slash-button{
  width: 100px;
  height: 50px;
}

.button:hover, .slash-button:hover, .arrow-button:hover, .search-bar__submit:hover{
  background-color: darkgray;
}

.login-button svg, .admin-button svg{
  height: 36px;
  width: 36px;
}

#sidebar {
  padding-left: 45px;
  position: fixed;
  top: 0px;
  width: 80px;
}

.first-element{
  position: relative;
  margin-top: 10px;
  margin-left: 100px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 50px;
  cursor: pointer;
  font-family: var(--default-font-family);
}

.second-li{
  margin-top: 10px;
}

#sidebar ul {
  list-style: none;
  padding-left: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar li {
  margin-bottom: 10px;  
}

.slash-icons {
  display: flex;
  align-items: center;       
}

.slash-icons a {
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
}

.slash-icons p {
  margin: 0px;            
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links a {
  margin: 0 5px;
  display: flex;
  align-items: center; 
}

.social-links svg {
  display: block;
}

.search-bar {
  height: var(--search-size);
  border: none;
  display: flex;
  border-radius: 100vh;
  position: relative;
  width: var(--search-size);
  transition: width 300ms ease-in-out, margin-right 300ms ease-in-out; 
  margin-left: 0;
}

.search-bar:focus-within {
  width: 400px; 
  margin-right: calc(-400px + var(--search-size));

  .search-bar__submit{
    background-color: #d4d4d4; 
    z-index: 0;
    &:hover{
      background-color: darkgray;
    }
  }

  .search-bar__input{
    opacity: 1;
    z-index: 0;
    cursor: initial;
  }
}

.search-bar__input {
  flex-grow: 1;
  font-size: 1.5rem;
  padding: 0 0.5em;
  border: 0;
  background: transparent;
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0; 
  line-height: calc(var(--search-size) - 3px);
  width: calc(100% - var(--search-size) + 6px);
  opacity: 0;
  cursor: pointer;
  z-index: -1;
}

.search-bar__input:focus {
  outline: 0;
}

.search-bar__submit {
  font-size: 1.5rem;
  border: none;
  background: #d4d4d4;
  cursor: pointer;
  border-radius: 100vh;
  width: calc(var(--search-size) - 10px);
  height: calc(var(--search-size) - 10px);
  margin-left: auto;
  transition: background 150ms ease-in-out;
}

.notification{
  position: absolute;
  top: 10px;
  display: flex;
  left: 95%;
}

.notification svg{
  width: 40px;
  height: 40px;
}

.notification-amount{
  position: relative;
  font-size: 12px;
  align-self: self-start;
  font-family: var(--default-font-family);
  font-weight: bold;
}

.notification-list{
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  height: 0;
  visibility: hidden;
  background-color: #d4d4d4;
  transition: height 300ms ease, visibility 300ms ease;
}

button[aria-expanded = 'true'] + .notification-list{
  height: auto;
  visibility: visible;
}

.main-search-bar{
  position: absolute;
  left: 20%;
  top: 10px;
  height: var(--search-size);
  border: none;
  display: flex;
  border-radius: 100vh;
  width: var(--search-size);
  transition: width 300ms ease-in-out, margin-right 300ms ease-in-out; 
  margin-left: 0;
}

.main-search-bar:focus-within {
  width: 850px; 
  margin-right: calc(-900px + var(--search-size));

  .search-bar__submit{
    background-color: #d4d4d4; 
    z-index: 0;
    &:hover{
      background-color: darkgray;
    }
  }

  .main-search-bar__input{
    opacity: 1;
    z-index: 0;
    cursor: initial;
    background-color: #d4d4d4;
  }
}

.main-search-bar__input {
  flex-grow: 1;
  font-size: 1.5rem;
  padding: 0 0.5em;
  border: 0;
  background: transparent;
  position: absolute; 
  border-radius: 100vh;
  top: 0;
  bottom: 0;
  left: 0; 
  line-height: calc(var(--search-size) - 3px);
  width: calc(100% - var(--search-size) + 6px);
  opacity: 0;
  cursor: pointer;
  z-index: -1;
}

.main-search-bar__input:focus {
  outline: 0;
}

.main-search-bar__submit {
  position: relative;
  font-size: 1.5rem;
  border: none;
  background: #d4d4d4;
  cursor: pointer;
  border-radius: 100vh;
  width: calc(var(--search-size));
  height: calc(var(--search-size));
  margin-left: auto;
  transition: background 150ms ease-in-out;
}

.main-search-bar__submit.button{
  transition: transform 200ms ease-in-out, background 200ms ease-in-out;
}

.main-search-bar__submit.button:hover{
  transform: scale(1.15);
  background: darkgray;
}

.nav-wrapper{
  position: fixed;
  top: 100px;
  left: 300px;
}

.funky-shape-shit{
  clip-path: polygon(0% 0%, 82.4% 0%, 82% 100%, 0% 100.3%, 33.2% 48.8%);
  background-color: darkgray;
  display: inline;
  width: 150px;
}