{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Store{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/mainpage.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
{% endblock %}

{% block content %}
  <div class="trend-line">
    Trending right now
  </div>
  <div class="card-wrapper">
    <div class="card secondary-card card-1">
      <div class="image-holder">

      </div>
      <div class="object-info">
        <div>

        </div>
        <div>
          
        </div>
      </div>
    </div>
    <div class="card primary-card card-2">
      <div class="image-holder">
        <!-- {% if product.image %}
          <img src="{{ product.image.url }}" alt="{{ product.name }} " class="product-info">
        {% endif %} -->
        <img src="{% static 'main/img/mainpage/suck.jpg' %}">
      </div>
      <div class="object-info">
        <div>
          
        </div>
        <div>
          
        </div>
      </div>
    </div>
    <div class="card secondary-card card-3">
      <div class="image-holder">

      </div>
      <div class="object-info">
        <div>

        </div>
        <div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}